.header {
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
}

.sort-block .sort-item {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}

.borderless td, .borderless th {
    border: none;
}

.homekat {
    margin-top: 10px;
    margin-bottom: 50px;
    left:100px;
    background-color:red;
}

